* {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.links {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}